<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Indexstyle.css">
    <link rel="Javascript" href="~/js/Indexscript.js" />
    <title> Начална страница </title>
</head>
<body>

    <h1> Здравейте! </h1>
    <h2> Уеб приложение за организиране на свободното Ви време</h2>
    <div class="welcome">
        <a href="~/html/index.html">  Продължете=> </a>
    </div>

</body>
</html>